[build]
command = "npm run build"
publish = ".next"

[[plugins]]
package = "@netlify/plugin-nextjs"

[functions]
node_bundler = "esbuild"

[[redirects]]
from = "/*"
to = "/.netlify/functions/___netlify-handler"
status = 200
force = false